body{
    background-color: rgb(39, 39, 39);
}
.fhoto1{
    border: 2px solid rgb(0, 0, 0);
    background-color: black;
    width: 1830px ;
    height: 300px;
    margin: 10px
}
.text{
    margin-left: 50px;
}
.fhoto2{
    margin-top: -370px;
    margin-left: 250px;
}
.text2{
    margin-top: -1px;
    margin-left: 300px;
}
.fhoto3{
    margin-top: -370px;
    margin-left: 480px;
}
.text3{
    margin-top: -5px;
    margin-left: 560px;
}
.fhoto4{
    margin-top: -368px;
    margin-left: 740px;
}
.text5{
    margin-top: -2px;
    margin-left: 810px;
}
.fhoto5{
margin-top: -367px;
margin-left: 970px;
}
.text6{
    margin-top: -2px;
    margin-left: 1060px;
}
.fhoto6{
    margin-top: -366px;
    margin-left: 1200px;
}
.text7{
    margin-top: -4px;
    margin-left: 1240px;
}
.fhoto7{
    margin-top: -366px;
    margin-left: 1430px; 
}
.text8{
    margin-top: -4px;
    margin-left: 1450px;
}
.fhoto8{
    margin-top: -366px;
    margin-left: 1660px;  
}
.text9{
    margin-top: -4px;
    margin-left: 1640px; 
}

.text{
    margin-left: 50px;
}
.fhoto2{
    margin-top: -370px;
    margin-left: 250px;
}
.text2{
    margin-top: -1px;
    margin-left: 300px;
}
.fhoto3{
    margin-top: -370px;
    margin-left: 480px;
}
.text3{
    margin-top: -5px;
    margin-left: 560px;
}
.fhoto4{
    margin-top: -368px;
    margin-left: 740px;
}
.text5{
    margin-top: -2px;
    margin-left: 810px;
}
.fhoto5{
margin-top: -367px;
margin-left: 970px;
}
.text6{
    margin-top: -2px;
    margin-left: 1060px;
}
.fhoto6{
    margin-top: -366px;
    margin-left: 1200px;
}
.text7{
    margin-top: -4px;
    margin-left: 1240px;
}
.fhoto7{
    margin-top: -366px;
    margin-left: 1430px; 
}
.text8{
    margin-top: -4px;
    margin-left: 1450px;
}
.fhoto8{
    margin-top: -366px;
    margin-left: 1650px;  
}
.text9{
    margin-top: -4px;
    margin-left: 1690px; 
}
.text20{
    width: 600px;
}






.text{
    margin-left: 50px;
}
.fhoto2{
    margin-top: -370px;
    margin-left: 250px;
}
.text2{
    margin-top: -1px;
    margin-left: 300px;
}
.fhoto3{
    margin-top: -370px;
    margin-left: 480px;
}
.text3{
    margin-top: -5px;
    margin-left: 560px;
}
.fhoto4{
    margin-top: -368px;
    margin-left: 740px;
}
.text5{
    margin-top: -2px;
    margin-left: 810px;
}
.fhoto5{
margin-top: -367px;
margin-left: 970px;
}
.text6{
    margin-top: -2px;
    margin-left: 1060px;
}
.fhoto6{
    margin-top: -366px;
    margin-left: 1200px;
}
.text7{
    margin-top: -4px;
    margin-left: 1240px;
}
.fhoto7{
    margin-top: -366px;
    margin-left: 1430px; 
}
.text8{
    margin-top: -4px;
    margin-left: 1450px;
}
.fhoto8{
    margin-top: -366px;
    margin-left: 1650px;  
}
.text9{
    margin-top: -4px;
    margin-left: 1690px; 
}
.search{
margin-left: 600px;
height: 30px;
border-radius: 20px;
width: 300px;

}